<div class="darkOverlay" *ngIf="darkOverlay">
  <div class="myBlock">
    <h1>Delete comment</h1>
    <p>
      Are you sure you want to delete this comment? This will remove the comment
      and can't be undone.
    </p>
    <div class="buttons">
      <button class="cancel" (click)="darkOverlay = false">NO, CANCEL</button>
      <button class="yesDelete" (click)="deleteMyCommentModal()">
        YES, DELETE
      </button>
    </div>
  </div>
</div>
<div class="darkOverlay" *ngIf="darkOverlayReply">
  <div class="myBlock">
    <h1>Delete comment</h1>
    <p>
      Are you sure you want to delete this comment? This will remove the comment
      and can't be undone.
    </p>
    <div class="buttons">
      <button class="cancel" (click)="darkOverlayReply = false">
        NO, CANCEL
      </button>
      <button class="yesDelete" (click)="deleteMyReplyModal()">
        YES, DELETE
      </button>
    </div>
  </div>
</div>

<app-user-comments
  *ngFor="let data of jsonData.comments; let i = index"
  [index]="i"
  [jsonData]="jsonData"
  (deleteMyComment)="deleteMyComment($event)"
  (deleteMyReply)="deleteMyReply($event)"
></app-user-comments>
<app-add-comment
  [jsonData]="jsonData"
  (addedComment)="addComment($event)"
></app-add-comment>
